<header>
    <md-toolbar layout="row" flex="100" layout-align="start" style="background: transparent;">
        <div class="image">
            <img src="images/mainImage.png" alt="" style="width: 100%;"/>
            <div class="mainBar" layout="row" flex="100">
                <div flex-nogrow class="md-margin" style="font-weight: 800;">TRATOLI</div>
                <form class="form" flex="20">
                    <md-input-container  flex-gt-sm style="">
                        <input type="text" style=""/>
                    </md-input-container>
                </form>
                <div flex layout="row" layout-align="end center" >
                    <div flex="10"  flex-md="15">BLOG</div>   
                    <div flex="10" flex-md="15">LOGIN</div>   
                    <div flex="10"  flex-md="15">
                        <md-button style="background: transparent; border: 1px solid #fff; height: auto;">SIGNUP</md-button>
                    </div>   
                </div>
                
            </div>
            <div class="rightSideToolbar"></div>
        </div>
    </md-toolbar>
</header>
<section layout="row" layout-align="center center" flex="100" style="height: 60px; border-bottom: 1px solid #cecece;">
    <div layout="row" layout-align="center center" flex="50" style="height: 100%;">
        <div flex="25" class="tabName"><span class="tabText">TOURS</span></div>
         <div flex="25" class="tabNameActive"><span class="tabText">TOUR GUIDE</span></div>
         <div flex="25" class="tabName"><span class="tabText">REVIEWS</span></div>
         <div flex="25" class="tabName"><span class="tabText">BLOG</span></div>
    </div>
</section>
<section layout="row" flex="100" layout-align="center center" style="height: 130px; margin-bottom: 20px;" layout-wrap>
    <h3 flex="100" class="textAlign">Places To Visit</h3>
    <div flex="100" class="textAlign afterTabs">Stu Anger Rise And Fall Of A Pker Genius</div>
    
</section>
<section layout="row" flex="100" layout-align="center center" layout-wrap>
    <div flex="80" layout="row" layout-margin>
        <div flex="33"> 
            <img flex="100" class="imageFit" src="images/leh.png"/>
        </div>
        <div flex="33"> 
            <img flex="100"  class="imageFit" src="images/pangon.png"/>
        </div>
        <div flex="33"> 
            <img flex="100"  class="imageFit" src="images/diksit.png"/>
        </div>
    </div>
    <div flex="80" layout="row" layout-margin layout-wrap style="border-bottom: 1px solid #cecece;">
        <div flex="30" class="card1" layout="row" layout-align="start center" layout-wrap>
            <div class="cardImageCont">
                <img src="images/hemis.png"/>
            </div>
            <div flex="80" flex-md="70"  style="margin-bottom: 30px;">
                <div flex="100" class="cardImageTitle">Hemis</div>
                <div flex="100" class="cardImageSub">Global Resort Network</div>
            </div>
            <div flex="100" style="height: 1px; background: #cecece;"></div>
            
        </div>
        <div flex="30" class="card2" layout="row" layout-align="start center" layout-wrap>
            <div class="cardImageCont">
                <img src="images/hemis.png"/>
            </div>
            <div flex="80" flex-md="70" style="margin-bottom: 30px;">
                <div flex="100" class="cardImageTitle">Hemis</div>
                <div flex="100" class="cardImageSub">Global Resort Network</div>
            </div>
            <div flex="100" style="height: 1px; background: #cecece;"></div>
            
        </div>
        <div flex="30" class="card3" layout="row" layout-align="start center" layout-wrap >
            <div class="cardImageCont">
                <img src="images/hemis.png"/>
            </div>
            <div flex="80" flex-md="70" style="margin-bottom: 30px;">
                <div flex="100" class="cardImageTitle">Hemis</div>
                <div flex="100" class="cardImageSub">Global Resort Network</div>
            </div>
            <div flex="100" style="height: 1px; background: #cecece;"></div>
            
        </div>
        <div flex="30" class="card1" layout="row" layout-align="start center" layout-wrap>
            <div class="cardImageCont">
                <img src="images/hemis.png"/>
            </div>
            <div flex="80" flex-md="70" style="margin-bottom: 30px;">
                <div flex="100" class="cardImageTitle">Hemis</div>
                <div flex="100" class="cardImageSub">Global Resort Network</div>
            </div>
<!--            <div flex="95" style="height: 1px; background: #cecece;"></div>-->
            
        </div>
        <div flex="30" class="card2" layout="row" layout-align="start center" layout-wrap >
            <div class="cardImageCont">
                <img src="images/hemis.png"/>
            </div>
            <div flex="80" flex-md="70" style="margin-bottom: 30px;">
                <div flex="100" class="cardImageTitle">Hemis</div>
                <div flex="100" class="cardImageSub">Global Resort Network</div>
            </div>
<!--            <div flex="95" style="height: 1px; background: #cecece;"></div>-->
            
        </div>
        <div flex="30" class="card3" layout="row" layout-align="start center" layout-wrap >
            <div class="cardImageCont">
                <img src="images/hemis.png"/>
            </div>
            <div flex="80" flex-md="70" style="margin-bottom: 30px;">
                <div flex="100" class="cardImageTitle">Hemis</div>
                <div flex="100" class="cardImageSub">Global Resort Network</div>
            </div>
<!--            <div flex="95" style="height: 1px; background: #cecece;"></div>-->
        </div>
    </div>
</section>
<section layout="row" flex="100" layout-align="center center" style="height: 130px; margin-bottom: 40px;" layout-wrap>
    <h3 flex="100" class="textAlign">Time/Weather</h3>
    <div flex="100" class="textAlign afterTabs">Stu Anger Rise And Fall Of A Pker Genius</div>
</section>
<section layout="row" flex="100" layout-align="center center" layout-wrap>
    <div flex="80" layout="row" layout-margin layout-align="center center">
        <div flex="25"  layout-wrap style="text-align: center;"> 
            <img flex="100" src="images/lock.png" class="iconHeight"/>
            <div flex="100">Best time to visit</div>
            <h2 flex="100" style="margin-top: 0;">MAY-JUN</h2>
        </div>
        <div flex="25"  layout-wrap style="text-align: center;"> 
            <img flex="100" src="images/lock.png" class="iconHeight"/>
             <div flex="100">Best time to visit</div>
            <h2 flex="100" style="margin-top: 0;">MAY-JUN</h2>
        </div>
        <div flex="25" layout-wrap style="text-align: center;"> 
            <img flex="100" src="images/lock.png" class="iconHeight"/>
             <div flex="100">Best time to visit</div>
            <h2 flex="100" style="margin-top: 0;">MAY-JUN</h2>
        </div>
        <div flex="25" layout-wrap style="text-align: center;"> 
            <img flex="100" src="images/lock.png" class="iconHeight"/>
             <div flex="100">Best time to visit</div>
            <h2 flex="100" style="margin-top: 0;">MAY-JUN</h2>
        </div>
    </div>
</section>
<section layout="row" flex="100" layout-align="center center" layout-wrap>
    <img flex="100" src="images/bottom.png" style="height: 500px;" />
</section>
<section layout="row" flex="100" layout-align="center center" style="height: 70px; background: #fcfcfc;" layout-wrap>
    <div flex="80" layout="row" layout-nowrap>
        <div layout="row" flex="70">
            <div flex="20" class="footerClass" style="color: #05a8aa;">
                TRATOLI
            </div>
            <div flex="20" class="footerClass">OUR MISSION</div>
            <div flex="20" class="footerClass">JOBS</div>
            <div flex="20" class="footerClass">FAQ</div>
            <div flex="20" class="footerClass">PRESS</div>
        </div>
        <div flex="30" layout="row">
            <div flex="40" class="footerClass">CONTACT US</div>
            <div flex="60" style="text-align: center; font-size: 15px; ">
                <i class="material-icons">insert_invitation</i>
                <i class="material-icons">insert_invitation</i>
                <i class="material-icons">insert_invitation</i>
                
            </div>
        </div>
    </div>
</section>